.contenido {
    display: flex;
    flex-direction: column;
    padding: var(--espaciado-estandar);
    padding-top: 0;
    flex: 1;
    margin-right: var(--espaciado-estandar);

    .reservas {
        height: auto;

        h4 {
            margin-bottom: var(--espaciado-estandar);
            font-weight: 500;
        }

        .botones {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
            gap: var(--espaciado-estandar);

            button {
                display: flex;
                border-radius: 20px;
                padding: 15px 20px;
                cursor: pointer;

                .material-symbols-outlined {
                    font-size: 40px;
                }

                hgroup {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;

                    h3 {
                        margin-bottom: var(--radio-mediano);
                        font-size: 17px;
                        font-weight: 500;
                    }
    
                    p {
                        font-size: 12px;
                        opacity: 0.65;
                        font-weight: 300;
                    }
                }
            }

            .loza-deportiva {
                background-color: rgba(239, 246, 255);
                border: 3px solid rgba(205, 227, 255);
                transition: 0.35s ease;

                &:hover,
                &.activo {
                    background-color: rgb(219, 234, 254);
                    transition: 0.35s ease;
                }
            }

            .casa-club {
                background-color: rgba(240, 253, 244);
                border: 3px solid rgba(185, 248, 207);
                transition: 0.35s ease;

                &:hover,
                &.activo {
                    background-color: rgba(219, 252, 231);
                    transition: 0.35s ease;
                }
            }

            .zona-parrilla {
                background-color: rgba(255, 247, 237);
                border: 3px solid rgba(255, 229, 200);
                transition: 0.35s ease;

                &:hover,
                &.activo {
                    background-color: rgba(255, 237, 212);
                    transition: 0.35s ease;
                }
            }

            .cita-jd {
                background-color: rgba(250, 245, 255);
                border: 3px solid rgba(233, 212, 255);
                transition: 0.35s ease;

                &:hover,
                &.activo {
                    background-color: rgba(243, 232, 255);
                    transition: 0.35s ease;
                }
            }
        }
    }

    .herramientas {
        flex: 1;

        h4 {
            margin-top: 30px;
            font-weight: 500;
            margin-bottom: var(--espaciado-estandar);
        }

        .botones {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: var(--espaciado-estandar);

            .calendario,
            .mis-reservas {
                flex: 1;
                height: 100px;
                border-radius: 20px;
                border: 0px;
                display: flex;
                align-items: center;
                justify-content: left;
                gap: var(--espaciado-estandar);
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.05);
                transition: 0.35s ease;
                padding: 20px;

                &:hover {
                    background-color: rgb(212, 212, 212);
                    transition: 0.35s ease;
                }

                .material-symbols-outlined {
                    font-size: 30px;
                }

                div {
                    h3 {
                        font-size: 17px;
                        text-align: left;
                        font-weight: 500;
                    }

                    p {
                        text-align: left;
                        opacity: 0.75;
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}