.contenido {
    display: flex;
    flex-direction: column;
    padding: var(--espaciado-estandar);
    padding-top: 0;
    flex: 1;
    margin-right: var(--espaciado-estandar);

    .reservas {
        height: auto;

        h4 {
            margin-bottom: var(--espaciado-estandar);
        }

        .botones {
            display: flex;
            gap: var(--espaciado-estandar);

            .loza-deportiva,
            .casa-club,
            .zona-parrilla,
            .cita-jd {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 250px;
                border-radius: 20px;
                padding: 15px 20px;
                cursor: pointer;

                img {
                    height: 50px;
                    width: auto;
                    margin-bottom: var(--espaciado-estandar);
                }

                h3 {
                    margin-bottom: var(--radio-mediano);
                    font-size: 17px;
                }

                p {
                    opacity: 0.65;
                }
            }

            .loza-deportiva {
                background-color: rgba(239, 246, 255);
                border: 3px solid rgba(205, 227, 255);
                transition: 0.35s ease;

                &:hover,
                &.activo {
                    background-color: rgb(219, 234, 254);
                    transition: 0.35s ease;
                }
            }

            .casa-club {
                background-color: rgba(240, 253, 244);
                border: 3px solid rgba(185, 248, 207);
                transition: 0.35s ease;

                &:hover,
                &.activo {
                    background-color: rgba(219, 252, 231);
                    transition: 0.35s ease;
                }
            }

            .zona-parrilla {
                background-color: rgba(255, 247, 237);
                border: 3px solid rgba(255, 229, 200);
                transition: 0.35s ease;

                &:hover,
                &.activo {
                    background-color: rgba(255, 237, 212);
                    transition: 0.35s ease;
                }
            }

            .cita-jd {
                background-color: rgba(250, 245, 255);
                border: 3px solid rgba(233, 212, 255);
                transition: 0.35s ease;

                &:hover,
                &.activo {
                    background-color: rgba(243, 232, 255);
                    transition: 0.35s ease;
                }
            }
        }
    }

    .herramientas {
        flex: 1;

        h4 {
            margin-top: 30px;
            margin-bottom: var(--espaciado-estandar);
        }

        .botones {
            display: flex;
            gap: var(--espaciado-estandar);

            .calendario,
            .mis-reservas {
                flex: 1;
                height: 100px;
                border-radius: 20px;
                border: 0px;
                display: flex;
                align-items: center;
                justify-content: left;
                gap: var(--espaciado-estandar);
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.05);
                transition: 0.35s ease;

                &:hover {
                    background-color: rgb(212, 212, 212);
                    transition: 0.35s ease;
                }

                img {
                    height: 30px;
                    margin-left: 30px;
                }

                div {
                    h3 {
                        font-size: 15px;
                        text-align: left;
                    }

                    p {
                        text-align: left;
                        opacity: 0.75;
                    }
                }
            }
        }
    }
}