.reserva-calendario {
    display: grid;
    gap: 1em;
    padding: 15px;
    margin: auto;
    align-items: center;
    justify-content: center;

    .calendario-navegador {
        display: grid;
        grid-template-columns: repeat(2);
        align-items: center;
        align-content: center;

        .sub-menu-calendario {
            display: flex;

            .vistas {
                gap: 10px;

                .opciones-vista {
                    .vista {
                        padding: 10px;
                        background-color: var(--color-primario);
                        color: rgb(255, 255, 255);
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }
            }

            .filtros-calendario {
                display: flex;
                gap: 10px;
                background-color: white;
                margin-left: auto;
                padding: 10px;

                .filtro-calendario {
                    background-color: var(--color-primario);
                    color: rgb(255, 255, 255);
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
    }

    .contenedor-vista {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 15px;
        justify-content: center;
        align-items: center;
        height: 800px;

        .contenedor-calendario {
            width: auto;
            text-align: center;
            background-color: #dcdcdc;
            border-radius: 8px;

            .calendario {
                .dia {
                    background-color: white;

                    &.reserva {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: var(--color-primario);
                        color: white;
                        width: 30px;
                        overflow: hidden;
                        span {
                            font-size: 4px;
                            margin-top: 5px;
                        }
                        
                    }
                }
            }
        }

        .resumen-dia {
            width: auto;
            padding: 15px;
            height: 90%;
            overflow-y: scroll;
            font-size: 12px;

            .resumen-reservas {
                margin-bottom: 10px;
                border-radius: 4px;

                tbody {
                    tr {
                        background-color: white;
                        margin-bottom: 5px;

                        td {
                            padding: 5px;
                            border-bottom: 1px solid #ccc;

                            .pendiente {
                                padding: 4px;
                                border-radius: 7px;
                                background-color: #f0ad4e;
                                color: var(--color-primario);
                                font-weight: bold;
                                cursor: pointer;
                            }

                            .aprobado {
                                padding: 4px;
                                border-radius: 7px;
                                background-color: #5cb85c;
                                color: var(--color-primario);
                                font-weight: bold;
                                cursor: pointer;
                            }

                            .rechazado {
                                padding: 4px;
                                border-radius: 7px;
                                background-color: #d9534f;
                                color: var(--color-primario);
                                font-weight: bold;
                                cursor: pointer;
                            }

                        }
                    }

                }
            }
        }
    }
}